.images {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.image-item {
  border-radius: 10px;
  height: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

//Xu ly scoll

// .images {
//   grid-template-columns: none;
//   grid-auto-flow: column;
//   grid-auto-columns: 80%;
//   overflow-x: auto;
//   scroll-snap-type: x mandatory;
//   scroll-snap-stop: always;
//   -ms-overflow-style: none;
//   scrollbar-width: none;
//   padding: 30px;
//   scroll-padding: 18px;
//   border-radius: 10px;
//   width: 48%;
//   margin: 0 auto;
// }

// .images::-webkit-scrollbar {
//   display: none;
// }

// .image-item {
//   scroll-snap-align: start;
//   box-shadow: rgba(0, 0, 0, 100) 0px 4px 12px;
// }
